<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trang Đăng Nhập Tài Khoản</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding *ngIf="!hasLoggedIn">
    <form #loginForm="ngForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <ion-label color="primary" floating>Địa Chỉ Email</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="login.email" #email="ngModel" spellcheck="false" autocapitalize="off" placehoder="email@email.com" required></ion-input>
        </ion-item>
        <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập địa chỉ Email 
        </p>
      
        <ion-item>
          <ion-label color="primary" floating>Mật Khẩu</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="login.password" #password="ngModel" required></ion-input>
        </ion-item>
        <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập mật khẩu 
        </p>
      
      </ion-list>
      <br/><br/>
      <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onLogin(loginForm)" type="submit" block>Đăng Nhập</button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" (click)="goRegister()" block>Đăng Kí</button>
        </ion-col>
      </ion-row>
      

    </form>
    <br/><br/>
    <p (click)="go('ResetPasswordPage')">
      Quên mật khẩu? Lấy lại tại đây &nbsp; <ion-icon name="arrow-forward"></ion-icon>
    </p>
  </ion-card>
  <ion-card padding>
    <ion-card-title>Bạn đã đăng nhập</ion-card-title>
  </ion-card>
</ion-content>
