<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Đăng Kí Tài Khoản Mới</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>
    <form #registerForm="ngForm" novalidate>
      <ion-item>
        <ion-label color="primary" floating text-capitalize>Địa Chỉ Email</ion-label>
        <ion-input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" spellcheck="false" autocapitalize="off" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập địa chỉ Email 
      </p>

      <ion-item>
        <ion-label color="primary" floating>Mật Khẩu</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập mật khẩu 
      </p>

      <ion-item>
        <ion-label color="primary" floating text-capitalize>Tên Đăng Kí</ion-label>
        <ion-input type="text" [(ngModel)]="user.displayName" name="displayName" #displayName="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập tên người dùng
      </p>

      <ion-item>
        <ion-label color="primary" floating text-capitalize>Mật Khẩu Admin</ion-label>
        <ion-input type="password" [(ngModel)]="user.adminPassword" name="adminPassword" #adminPassword="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="adminPassword.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập mật khẩu Admin
      </p>

      <br/><br/>
      <ion-row responsive-sm>
        <ion-col>
          <button ion-button color="success" type="submit" (click)="register(registerForm)" block>Đăng Kí</button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" (click)="goLogin()" block>Đăng Nhập</button>
        </ion-col>
      </ion-row>
    </form>
    </ion-card>
</ion-content>
