<!--
  Generated template for the PhotoActionsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Đóng</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <section>
    <div class="card-content">
      <h4 class="card-title">Nhập Dữ Liệu</h4>
      <div col-12>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <ion-list *ngIf=" action === 'PUT' ">
            <ion-item>
              <ion-label floating>Chọn Kích Cỡ Hình</ion-label>
              <ion-select name="photosize" formControlName="photosize">
                <ion-option *ngFor=" let ps of ps_list" [value]="ps.$key">{{ps.sizeName}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>Số Lượng</ion-label>
              <ion-input type="number" name="quantity" formControlName="quantity"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label floating>Chọn Người Xuất Hình</ion-label>
              <ion-select name="user" formControlName="user">
                <ion-option *ngFor=" let p of people " [value]="p.uid">
                  {{p.displayName}}
                </ion-option>
              </ion-select> 
            </ion-item>

            <ion-item>
              <ion-label floating>Ghi Chú / Khách Hàng</ion-label>
              <ion-textarea name="customer" formControlName="customer"></ion-textarea>
            </ion-item>
          </ion-list>
          
          <ion-card padding *ngIf="action != 'PUT' ">
            <ion-title col-12>
              Nhập Hình              
            </ion-title>
            <br/><br/>
            
            
            <div class="well well-lg" formArrayName="products">
              <div *ngFor=" let product of form.controls.products.controls; let i = index " [formGroupName]="i">
                
                <div col-12>
                  <h2 pull-left>{{i+1}} - Sản Phẩm</h2>
                </div>
                
                <ion-row col-12>
                  <ion-item col-2>
                    <button ion-button [disabled]="form.controls.products.controls.length === 1" (click)="remove_product(i)" color="danger" pull-right>
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item>
                  <ion-item col-10>
                    <product [group]="form.controls.products.controls[i]"></product>
                  </ion-item>
                </ion-row>

              </div>

              <button ion-button (click)="add_new_product()">
                <ion-icon name="add"></ion-icon> NHẬP THÊM
              </button>

            </div>
            
            
          </ion-card>

          <ion-buttons>
            <button type="submit" ion-button color="primary">
              LƯU DỮ LIỆU
            </button>
            
          </ion-buttons>
        </form>
      </div>
    </div>
  </section>
</ion-content>
