<ion-card id="filter-wrapper" padding>
  <ion-card-header>
    Bộ Lọc Thông Tin 
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="filterForm" (ngSubmit)="submit()" novalidate>
      <ion-row>
        <ion-item col-6>
          <ion-label stacked>Từ ngày</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="startAt" name="startAt" ngDefaultControl></ion-datetime>
        </ion-item>
        
        <ion-item col-6>
          <ion-label stacked>Đến ngày</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="endAt" name="endAt" ngDefaultControl></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Chọn nhân viên: </ion-label>
          <ion-select name="uid" formControlName="uid">
            <ion-option value="" >Chọn Tất Cả</ion-option>
            <ion-option *ngFor=" let p of people " [value]="p.uid">
              {{p.displayName}}
            </ion-option>
          </ion-select> 
        </ion-item>
      </ion-row>
      <br/><br/>
      <button ion-button type="submit">Lọc</button>
    </form>
  </ion-card-content>
</ion-card>