<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="Tổng Hợp" tabIcon="laptop" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Số Lượng Hình" tabIcon="photos"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Các cở hình" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Tổng Hợp Lương" tabIcon="calculator"></ion-tab>
</ion-tabs>