<!--
  Generated template for the PhotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nhập / Kiểm Soát Số Lượng Hình</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <photos-filter event="photos:filter"></photos-filter>
  
  <ion-card>
    <ion-card-content>
      <p>Số Lượng Hình: {{total_photos}} tấm</p>

      <ion-buttons>
        <button ion-button (click)="go('PhotoActionsModalPage')">
          <ion-icon name="add"></ion-icon>&nbsp;Nhập Sản Phẩm
        </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Bảng Tổng Hợp Sản Phẩm</ion-card-header>
    <ion-card-content>
      <table class="table table-striped table-bordered" col-12>
        <thead class="text-default">
          <tr>
            <th text-left>Loại hình</th>
            <th text-left>Người xuất</th>
            <th text-center>Ngày Xuất(ngày/tháng/năm) </th>
            <!--th text-left>Thời Gian Điều Chỉnh</th-->
            <th text-right>Số Lượng</th>
            <th text-right>Điều Chỉnh</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let photo of photos" id="photo_{{photo.$key}}">
            <td>{{photo.photosize?.sizeName}}</td>
            <td>{{ photo.user?.displayName }}</td>
            <td text-center>{{photo.created_at | date: "dd/MM/yyyy"}}</td>
            <!--
            <td>{{photo.updated_at | date: "short"}}</td>
            -->
            <td text-right>{{photo.quantity}}</td>
            <td text-right>
              <button ion-button color="dark" (click)="openModal(photo)" title="Điều Chỉnh"><ion-icon name="build"></ion-icon></button>
              <button ion-button color="danger" (click)="remove(photo)" title="Xoá"><ion-icon name="close"></ion-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
