<!--
  Generated template for the PhotoSizeAddAndUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bảng Lưu Kích Cở Hình</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Đóng</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>

      <ion-item>
        <ion-label stacked>Tên Sản Phẩm</ion-label>
        <ion-input type="text" formControlName="sizeName" name="sizeName"></ion-input>
      </ion-item>
      <p *ngIf=" !isSizeNameUnique ">
        Trùng tên với các sản phẩm khác
      </p>
      <ion-item>
        <ion-label stacked>Điểm Số Đổi Lương</ion-label>
        <ion-input type="number" formControlName="price" name="price"></ion-input>
      </ion-item>

       <ion-item>
        <ion-label stacked>Đơn Vị</ion-label>
        <ion-select formControlName="unit" name="unit">
          <ion-option [value]="unit" *ngFor=" let unit of units " >{{unit}}</ion-option>
        </ion-select>
      </ion-item> 
      <br/><br/>
      <button ion-button type="submit">Lưu</button>

      
    </form>
  </div>
</ion-content>
