<ion-row [formGroup]="productForm" col-12>
  <ion-item col-6>
    <ion-label floating>Chọn Kích Cỡ Hình</ion-label>
    <ion-select name="photosize" formControlName="photosize">
      <ion-option *ngFor=" let ps of ps_list" [value]="ps.$key">{{ps.sizeName}}</ion-option>
    </ion-select>
    <small [hidden]="productForm.controls.photosize.valid" text-danger>
      Cần chọn kích cỡ hình 
    </small>
    
  </ion-item>

  <ion-item col-6>
    <ion-label floating>Số Lượng</ion-label>
    <ion-input type="number" name="quantity" formControlName="quantity"></ion-input>
  </ion-item>
</ion-row>