<ion-split-pane>
  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          QUẢN LÝ <span class="app-title-color">24h</span>
        </ion-title>
      </ion-toolbar>
    </ion-header> 

    <ion-content class="outer-content">
      
      <ion-list>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list> -->
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          QUẢN LÝ <span class="app-title-color">24h</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

       <ion-list>
        <ion-title>Thông Tin Tài Khoản</ion-title>
        <user-profile [currentUser]="user"></user-profile>
      </ion-list> 

      <ion-list>
        <ion-title>
          Trang Ứng Dụng
        </ion-title>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)" [class.logout-btn]="p.logsOut">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
</ion-split-pane>