// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
    color: color($colors, menuTxt);

    ion-header {
        ion-toolbar {
            .toolbar-background {
                background: color( $colors, menuBg) !important;
            }
            ion-title {
                padding: 1em 0.5em;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                .toolbar-title {
                    text-shadow: 0 2px 4px #000;
                    font-size: 1.5em;
                    color: color( $colors, menuTxt );
                }
                img {
                    width: 1em;
                    margin-left: 8px;
                }
                .app-title-color {
                    color: #fff;
                }
            }
        }
    }
    ion-content {
        background: color( $colors, menuBg) !important;
        ion-list {
            ion-title {
                padding: 1em 0;
                .toolbar-title {      
                    color: #fff;
                }
            }
            ion-item, .item-block {
                background: color( $colors, menuBg) !important;
                color: #fff;
            }
        }
    }
}

.logout-btn {
    position: absolute;
    bottom: 10px;
}