<!--
  Generated template for the SalaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tổng Hợp Lương</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <photos-filter event="salary:filter" ></photos-filter>
  <ion-card>
    
    <ion-card-header>
        Tổng Hợp Lương
    </ion-card-header>

    <ion-card-content>
      
      <table class="table table-bordered table-striped">
        <tr>
          <th class="text-center">Số lượng hình</th>
          <th class="text-center">Số Điểm</th>
          <th class="text-center">Số tiền</th>
        </tr>
        <tr>
          <td class="text-center">{{ statistics.total }}</td>
          <td class="text-center">{{ statistics.score }}</td>
          <td class="text-center">{{ statistics.salary }}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Bảng Tổng Hợp Lượng Hình Theo Loại
    </ion-card-header>
    
    <ion-card-content>
      <canvas #barCanvas style="max-width: 800px;" ></canvas>
      <br/><br/>
       <table class="table table-striped table-bordered max-800">
         <tr>
           <th class="text-center">Thể Loại</th>
           <th>Số Lượng</th>
         </tr>
        <tr *ngFor=' let d of graphData; let i = index '>
          <td class="text-center">{{ graphLabels[i] }}</td>
          <td>{{ d }}</td>
        </tr>
      </table> 
    </ion-card-content>
  </ion-card>
</ion-content>
