<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lấy Lại Mật Khẩu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>
    <ion-card-content>
      <form #rpform="ngForm" novalidate>
        <ion-item>
          <ion-label color="primary" floating>Nhập Địa Chỉ Email</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
        </ion-item>
         <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
          Yêu cầu nhập địa chỉ Email 
        </p> 
        <br/><br/>
        <ion-buttons> 
          <button ion-button color="primary" type="submit" (click)="onSubmit(user.email, rpform)">Gửi</button>
        </ion-buttons>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
