
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Loại Hình Và Giá Cả</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <section class="card">
    <div class="card-content">
      <h4 class="card-title">Bảng Thống Kê Các Loại Hình</h4>
      <ion-buttons>
        <button ion-button (click)="openModal()"> <ion-icon name="add"></ion-icon>&nbsp; Thêm Cở Hình</button>
      </ion-buttons>
      
      <div class="table-responsive">
        <table class="table table-striped" col-12>
          <thead class="text-default">
            <tr>
              <th text-left>Tên</th>
              <th text-right>Điểm Số Đổi Lương</th>
              <th  text-right>Điều Kiển</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let photosize of photosize_list " [hidden]=" photosize.disabled ">
              <td>{{photosize.sizeName}}</td>
              <td text-right>{{photosize.price}} {{photosize.unit}}</td>
              <td text-right>
                <button ion-button color="danger" (click)="disable(photosize)" title="Xoá"><ion-icon name="close"></ion-icon></button>
                <!-- <button ion-button color="danger" (click)="remove(photosize)" title="Xoá"><ion-icon name="close"></ion-icon> (Admin Only) </button> -->
                <button ion-button color="dark" (click)="openModal(photosize)" title="Điều Chỉnh"><ion-icon name="build"></ion-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</ion-content>
